@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import './global-typography.scss';
@import './global-language.scss';
@import './global-animations.scss';
@import './global-colors.scss';
@import './utility.scss';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page {
  min-height: calc(100vh - #{rem($header-height-xs)});
  min-height: calc(100 * var(--vh) - #{rem($header-height-xs)});
  @include media-breakpoint-up(sm) {
    min-height: calc(100vh - #{rem($header-height-sm)});
    min-height: calc(100 * var(--vh) - #{rem($header-height-sm)});
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: $zindex-page;
  .page-content {
    flex-grow: 1;
    z-index: $zindex-page-content;
  }
}

@-webkit-keyframes autofill {
  to {
    color: white;
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
